{% extends 'base.html' %}
{% block container %}

    <h1 class="display-5 mt-4">Die Flüge {{direction}}</h1>

    <p class="mb-4"><div class="col-2 py-2 badge badge-success text-wrap" style="width: 2rem;">{{counter}}</div> Touren gefunden, ab <div class="col-2  py-2 badge badge-success text-wrap" style="width: 5rem;"> {{minprice}} rub.</div>  bis <div class="col-2  py-2 badge badge-success text-wrap" style="width: 5rem;"> {{maxprice}} rub. </div>  und ab <div class="col-2 py-2 badge badge-primary text-wrap" style="width: 2rem;">{{minnights}}</div> bis <div class="col-2 py-2 badge badge-primary text-wrap" style="width: 2rem;">{{maxnights}}</div> Nächte </p>


    <div class="row mt-5">
        {% for id in iddirection %}
         <div class="col-4">
            <div class="card mb-3">
                <img src={{ways[id]['picture']}}  width="300" height="200" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">{{ways[id]['title']}}</h5>
                    <p class="card-text">{% filter truncate(150, True) %}{{ways[id]['description']}}{% endfilter %}</p>
                    <a href="/tours/{{id}}" class="btn btn-sm btn-primary">Mehr...</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}